.wp-block-hizzle-accordion {
	border: 1px solid #c3c4c7;
}

.hizzle-accordion__heading {
	margin: 0;
	border-top: 1px solid #c3c4c7;
	font-size: inherit;
	line-height: inherit;
	font-weight: 600;
	color: inherit;

	.wp-block-hizzle-accordion-child:first-child > & {
		border-top: none;
	}

	.hizzle-accordion__heading-button {
		background: transparent;
		border: 0;
		color: inherit;
		cursor: pointer;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		font-weight: 400;
		font-size: inherit;
		margin: 0;
		padding: 1em 1.5em;
		min-height: 46px;
		position: relative;
		text-align: left;
		width: 100%;
		align-items: center;
		user-select: auto;

		&:active,
		&:hover,
		&:focus {
			background-color: rgba(0, 0, 0, 0.05);
			color: inherit;
			border: 0;
			box-shadow: none;
		}

		&:focus {
			outline-offset: -1px;
			outline: 2px solid #2271b1;
		}
	}
}

.hizzle-accordion__heading-title {
	pointer-events: none;
	font-weight: 600;
	flex-grow: 1;
}

.hizzle-accordion__heading-icon {
	border: solid currentcolor;
	border-width: 0 3px 3px 0;
	height: 1rem;
	pointer-events: none;
	transform: translateY(-30%) rotate(45deg);
	width: 1rem;

	.hizzle-accordion__heading[aria-expanded="true"] & {
		transform: rotate(-135deg);
	}
}

.hizzle-accordion__panel {
	margin: 0;
	padding: 0;
	max-height: 0;
	transition: max-height 0.3s ease-in-out;
	overflow: hidden;

	.wp-block-hizzle-accordion-child.block-editor-block-list__block & {
		transition: none;
	}

	@media (prefers-reduced-motion: reduce) {
		transition: none;
	}

	.hizzle-accordion__heading[aria-expanded="true"] + & {
		max-height: var(--hizzle-accordion-panel-max-height, 1000px);
	}
}

.hizzle-accordion__panel-content {
	padding: 1em 1.5em;
}
